@import url('https://fonts.googleapis.com/css2?family=Geist&family=Geist+Mono&display=swap');
@import  "tailwindcss";

.leaflet-container {
  z-index: 0 !important;
  touch-action: none;
  cursor: grab;
}

.leaflet-control {
  z-index: 1000 !important;
}

.leaflet-pane,
.leaflet-top,
.leaflet-bottom {
  z-index: 400 !important;
}

.leaflet-bar a,
.leaflet-bar a:hover {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

button.leaflet-control {
  cursor: pointer;
}